<div class="col-md-12">
  <% @recipes.each_slice(3) do |recipes| %>
    <div class="row">
      <% recipes.each do |recipe| %>
        <div class="col-md-4">
          <h3><%= link_to(recipe.title, recipe_path(recipe)) %></h3>
          <% recipe.photos.each do |p| %>
            <%= image_tag p.image.thumb.url.to_s %>
          <% end %>
          <% if recipe.editable_by?(current_user) %>
            <%= link_to("edit", edit_recipe_path(recipe), class: "btn btn-info")%>
            <%= link_to("Destroy", recipe_path(recipe), class: "btn btn-danger",
                        method: :delete, data: {confirm: "Are you sure?"})%>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
